
<!-- start page title -->
<div class="row">
    <div class="col-12 bg-white">
        <div class="page-title-box d-flex align-items-center justify-content-between pt-3">
            

            <div class="page-title-left d-flex">
                <h4 class="mb-0 font-size-18">@ViewBag.pTitle</h4>
                <ol class="breadcrumb m-0 px-3">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">@ViewBag.pageTitle</a></li>
                    <li class="breadcrumb-item active">@ViewBag.pTitle</li>
                </ol>
            </div>

        </div>
        <div class="border border-bottom-0 border-start-0 border-end-0 d bg-white">
            <form action="" id="filter-form">
                <div class="d-lg-flex d-md-flex d-block flex-wrap filter-box">
                    <div class="select-box d-flex py-2 pr-2 border-right-grey border-right-grey-sm-0">
                        <p class="mb-0 pr-3 f-14 text-dark-grey d-flex align-items-center">Employee</p>
                        <div class="select-status">
                            <div class="dropdown">
                                <select class="dropdown-toggle form-control" data-bs-toggle="dropdown">
                                    <option class="fw-bold">All</option>
                                    <option>Anjali Mitchell</option>
                                    <option>Deja White</option>
                                    <option>Dr. Darrion Graham</option>
                                    <option>Kristoffer Kilback</option>
                                    <option>Krystel Gutkowski</option>
                                    <option>Luis Wilkinson</option>
                                    <option>Mr. Jaylin Schiller Jr.</option>
                                    <option>Mrs. Arielle Hilpert</option>
                                    <option>Prof. Ellis Ritchie</option>
                                    <option>Verna Fahey</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="select-box d-flex py-2 px-lg-2 px-md-2 px-0 border-right-grey border-right-grey-sm-0">
                        <p class="mb-0 pr-3 f-14 text-dark-grey d-flex align-items-center">Department</p>
                        <div class="select-status">
                            <div class="dropdown">
                                <select class="form-control dropdown-toggle" name="department" id="department" data-live-search="true">
                                    <option value="all">All</option>
                                    <option value="1">Marketing</option>
                                    <option value="2">Sales</option>
                                    <option value="3">Human Resources</option>
                                    <option value="4">Public Relations</option>
                                    <option value="5">Research</option>
                                    <option value="6">Finance</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="select-box d-flex py-2 px-lg-2 px-md-2 px-0 border-right-grey border-right-grey-sm-0">
                        <p class="mb-0 pr-3 f-14 text-dark-grey d-flex align-items-center">Month</p>
                        <div class="select-status">
                            <div class="dropdown">
                                <select class="form-control dropdown-toggle" name="month" id="month" data-live-search="true"
                                        data-size="8" tabindex="null">
                                    <option value="01">
                                        January
                                    </option>
                                    <option value="02">
                                        February
                                    </option>
                                    <option value="03">
                                        March
                                    </option>
                                    <option value="04">
                                        April
                                    </option>
                                    <option value="05">
                                        May
                                    </option>
                                    <option value="06">
                                        June
                                    </option>
                                    <option value="07">
                                        July
                                    </option>
                                    <option value="08">
                                        August
                                    </option>
                                    <option selected="" value="09">
                                        September
                                    </option>
                                    <option value="10">
                                        October
                                    </option>
                                    <option value="11">
                                        November
                                    </option>
                                    <option value="12">
                                        December
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="select-box d-flex py-2 px-lg-2 px-md-2 px-0 border-right-grey border-right-grey-sm-0">
                        <p class="mb-0 pr-3 f-14 text-dark-grey d-flex align-items-center">Year</p>
                        <div class="select-status">
                            <div class="dropdown">
                                <select class="form-control" name="year">
                                    <option selected="" value="2022">2022</option>
                                    <option value="2021">2021</option>
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="select-box d-flex py-2 px-lg-2 px-md-2 px-0 border-right-grey border-right-grey-sm-0">
                        <p class="mb-0 pr-3 f-14 text-dark-grey d-flex align-items-center">Late</p>
                        <div class="select-status">
                            <div class="dropdown">
                                <select class="form-control dropdown-toggle" name="late" id="late" tabindex="null">
                                    <option value="all">All</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <!-- RESET START -->
                    <div class="select-box d-flex py-1 px-lg-2 px-md-2 px-0">
                        <button type="button" class="btn-secondary rounded f-14 p-2 btn-xs d-none" id="reset-filters">
                            <svg class="svg-inline--fa fa-times-circle fa-w-16 mr-1" aria-hidden="true" focusable="false"
                                 data-prefix="fa" data-icon="times-circle" role="img" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                      d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z">
                                </path>
                            </svg><!-- <i class="fa fa-times-circle mr-1"></i> Font Awesome fontawesome.com -->
                            Clear
                        </button>
                    </div>
                    <!-- RESET END -->
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end page title -->