@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu Recruter</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-user"></i>
                        <span key="t-employees">Employees</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("Index", "AttendanceList") key="t-attendances-list">Attendance List</a></li>
                    </ul>
                </li>
         

                <li>
                    <a href=@Url.Action("Index", "Calendar") class=" waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span key="t-calendar">Calendar</span>
                    </a>
                </li>
                 <li>
                    <a href=@Url.Action("Index", "EmployeeAttendance") class=" waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span key="t-calendar">Attendance</span>
                    </a>
                </li>
           

                <li>
                    <a class="waves-effect" asp-area="" asp-controller="Account" asp-action="Logout">
                        <span key="t-settings">Logout</span>
                    </a>
                </li>
              

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->